<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Detection</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <main class="container-fluid">
        <nav>
            <p class="m-0"><a href="/">Plant Detection</a></p>
        </nav>

        <section class="image-detection d-flex justify-content-center align-items-center w-50 m-auto mt-5">
            <div>
                {% if title == "" %} 
                    <h4 class="text-center">Choose Image</h4>
                {% else %}
                    <h4 class="text-center">{{title}}</h4>
                {% endif %}

                {% if image == "" %} 
                    <img src="" alt="" class="">
                {% else %}
                    <img src="../static/img/{{image}}" alt="" class="">
                {% endif %}
            </div>
            <div>
                <form action="/" method="POST" class="d-flex flex-column" enctype="multipart/form-data">
                    <input type="file" name="image" id="image" accept=".png, .jpg" required>
                    <input type="submit" value="Predict">
                </form>
            </div>
        </section>
    </main>
</body>
</html>